
@{

    ViewData["Title"] = "Error";

}


<h1 class="text-danger">Error</h1>
<h2 class="text-danger" style="font-size;background-color:lightyellow;color:tomato;">Error while porcessing your Request   😵😲🚫😱💀 </h2>

<div>

    Unexpected behavior in MVC 
</div>
