
@{
    ViewData["Title"] = "Index";
}

    <h1 style="font-size: xx-large;font-family:'Brush Script MT';color:blue"> Welcome to Home page of Lab4. </h1>

    <p>
        Hello my name is Hasib Yosufi, my student id is 041012318. Enjoy my web applicationd demo. 🙂😊
        
    </p><br />






    




